In [1]:
import csv

In [2]:
fn = '../../Data/AAPL.csv'

In [19]:
# r indicates read
csv_reader = csv.DictReader(open(fn, 'r'))
data = list(csv_reader)
sum([float(l['CLOSE']) for l in data]) / len(data)

272.38619047619045

## Use pandas to read data

In [21]:
import pandas as pd

In [22]:
data = pd.read_csv(fn, index_col=0, parse_dates=True)

In [24]:
# Print metadata of the produced DataFrame
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 21 entries, 2020-04-01 to 2020-04-30
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HIGH    21 non-null     float64
 1   CLOSE   21 non-null     float64
 2   LOW     21 non-null     float64
 3   OPEN    21 non-null     float64
 4   COUNT   21 non-null     float64
 5   VOLUME  21 non-null     float64
dtypes: float64(6)
memory usage: 1.1 KB

In [26]:
# Prints the recent 5 
data.tail()

              HIGH   CLOSE     LOW    OPEN     COUNT      VOLUME
Date
2020-04-24  283.01  282.97  277.00  277.20  306176.0  31627183.0
2020-04-27  284.54  283.17  279.95  281.80  300771.0  29271893.0
2020-04-28  285.83  278.58  278.20  285.08  285384.0  28001187.0
2020-04-29  289.67  287.73  283.89  284.73  324890.0  34320204.0
2020-04-30  294.53  293.80  288.35  289.96  471129.0  45765968.0

In [27]:
# prints mean of mentioned column
data['CLOSE'].mean()

272.38619047619056

In [28]:
# Export data as json file
# data.to_json('../../Data/AAPL.json')

## Use Quandl to retrieve data

In [30]:
import configparser
config = configparser.ConfigParser()
config.read('../py_algo.cfg')

['../py_algo.cfg']

In [33]:
import quandl as q

ModuleNotFoundError: No module named 'quandl'