In [1]:
import csv

In [2]:
fn = '../../Data/AAPL.csv'

In [3]:
# r indicates read
csv_reader = csv.DictReader(open(fn, 'r'))
data = list(csv_reader)
sum([float(l['CLOSE']) for l in data]) / len(data)

272.38619047619045

## Use pandas to read data

In [4]:
import pandas as pd

In [5]:
data = pd.read_csv(fn, index_col=0, parse_dates=True)

In [6]:
# Print metadata of the produced DataFrame
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 21 entries, 2020-04-01 to 2020-04-30
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HIGH    21 non-null     float64
 1   CLOSE   21 non-null     float64
 2   LOW     21 non-null     float64
 3   OPEN    21 non-null     float64
 4   COUNT   21 non-null     float64
 5   VOLUME  21 non-null     float64
dtypes: float64(6)
memory usage: 1.1 KB

In [7]:
# Prints the recent 5 
data.tail()

              HIGH   CLOSE     LOW    OPEN     COUNT      VOLUME
Date
2020-04-24  283.01  282.97  277.00  277.20  306176.0  31627183.0
2020-04-27  284.54  283.17  279.95  281.80  300771.0  29271893.0
2020-04-28  285.83  278.58  278.20  285.08  285384.0  28001187.0
2020-04-29  289.67  287.73  283.89  284.73  324890.0  34320204.0
2020-04-30  294.53  293.80  288.35  289.96  471129.0  45765968.0

In [8]:
# prints mean of mentioned column
data['CLOSE'].mean()

272.38619047619056

In [9]:
# Export data as json file
# data.to_json('../../Data/AAPL.json')

## Use Quandl to retrieve data

In [10]:
import configparser
config = configparser.ConfigParser()
config.read('../py_algo.cfg')

['../py_algo.cfg']

In [14]:
import quandl as q

In [15]:
data = q.get('BCHAIN/MKPRU', api_key = config['quandl']['api_key'])

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4952 entries, 2009-01-02 to 2022-07-24
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Value   4952 non-null   float64
dtypes: float64(1)
memory usage: 77.4 KB

In [22]:
data['Value'].resample('A').last()

Date
2009-12-31        0.000000
2010-12-31        0.299998
2011-12-31        4.470000
2012-12-31       13.570000
2013-12-31      746.900000
2014-12-31      315.700000
2015-12-31      428.230000
2016-12-31      958.120000
2017-12-31    14165.575000
2018-12-31     3791.545833
2019-12-31     7219.600000
2020-12-31    28856.590000
2021-12-31    47132.960000
2022-12-31    22461.700000
Freq: A-DEC, Name: Value, dtype: float64

In [23]:
q.ApiConfig.api_key = config['quandl']['api_key']

In [24]:
vol = q.get('VOL/MSFT')

In [25]:
vol.iloc[:,:10].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1006 entries, 2015-01-02 to 2018-12-31
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hv10    1006 non-null   float64
 1   Hv20    1006 non-null   float64
 2   Hv30    1006 non-null   float64
 3   Hv60    1006 non-null   float64
 4   Hv90    1006 non-null   float64
 5   Hv120   1006 non-null   float64
 6   Hv150   1006 non-null   float64
 7   Hv180   1006 non-null   float64
 8   Phv10   1006 non-null   float64
 9   Phv20   1006 non-null   float64
dtypes: float64(10)
memory usage: 86.5 KB